/* RESET */
* {list-style: none; box-sizing: border-box; margin: 0; font-size: 100%; font-family: 'Open Sans', sans-serif; font-weight: normal;}
a   {text-decoration: none; }
ul  {list-style: none;}
body {background-image: url("../img/qt-dms.png");background-repeat:no-repeat; background-size: cover;}
 h2  {font-size: 1.5em; color: #333; text-align: center;}
 
 .fonte {font-size: 0.8em; color: #fff;}
.box {width: 100%; float: left; text-align: center;}
.sub-box { display: inline-block; width: 60%; padding: 1% 0;}
.icones {float: left; color: #00b2c1; font-size: 3vw;}
 
/* HEADER */
#logo {float: left; width: 30%; height: 100px;}
#aling {padding: 25px 0 0 10%;}
/*#aling a  li {color: black; font-weight: bold; padding: 55px 25% 0 0%;}*/
#aling h2 {font-size: 2vw; font-weight: bold;}
#aling p {font-size: 1vw; color: black;}
.xet {padding: 0 0 0% 0;}

/* MENU */
#menu {float: left; width: 70%; height: 100px; }
#menu li {display: inline-block; font-size: 1vw; margin-right: 6%;}
#menu li a {color: black; font-weight: bold;}
#menu li a:hover {color: #36c4f1;}
#menu ul { padding: 55px 25% 0 0%;}

/* MAIN*/

#esquerda {float: left; padding: 55px 0; width: 40%}
#esquerda img {float: left; border-radius: 180px; width:90%; height: 90%;}
#direita {float: left;  width:60%; padding-left: 5%;}
#sobre-mim button { width: 25%; float: left; padding: 7.5% 10px; color: #fff; border: 0; cursor: pointer; font-size: 3.75vw; 
  border-radius: 50%; margin: 5% 2% 5% 2%; font-size: 1.2vw;}
#sobre-mim h1 {text-align: left; font-size: 5vw; color: #333; font-weight: bold;}
#sobre-mim h2 {text-align: left;font-size: 2.5vw; font-weight: bold;}
#sobre-mim p { float: left; font-size: 1vw; display: inline-block; margin-right: 15%; text-align: justify;}

#b-a {background-color: #ce325d; transition: 0.5s;}
#b-a:hover {background-color: rgba(206, 50, 93,.5 ); transform: scale(1.2);}
#b-b {background-color: #00b2c1; transition: 0.5s;}
#b-b:hover {background-color:  rgba(0, 178, 193,.5 ); transform: scale(1.2);}
#b-c {background-color: #b2bb00; transition: 0.5s;}
#b-c:hover {background-color:  rgba(178, 187, 1,.5 ); transform: scale(1.2);}

.rs {margin-right: 7px;}


/* FOOTER */
footer {background-color: #ce325d;}
.info-box {width: 25%; float: left; text-align: center;padding: 0px 0px 0px 0px;}
footer i {float: left;width: 25%; margin-left: 25%; }
footer li {text-align: left; word-wrap: break-word; font-size: 0.95vw;}
footer ul { float: left; padding: 0 5%; }
footer a {color: white;font-weight: normal;}
footer a li:hover {color: #00b2c1;}

.btn-facebook:hover {color: #3B5998}
.btn-twitch:hover {color:#54245d;}
.btn-instagram:hover {color: #b3702a;}
.lol {padding-bottom: 1%}
/* CREDITOS */

.rodape {width: 100%; float: left; background-color: grey; padding: 6px 25% 3px 25%; margin 0;}
.rodape a {color: white;font-weight: normal; font-size: 1vw;}
#a1 {float: left;}
#a1:hover {color: red;}
#a2 {float: right;}
#a2:hover {color: red;}
